@charset "UTF-8";

* {
    font-family: Poppins, sans-serif, 'Courier New', Courier, monospace;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    color: var(--av-grey-900);
}

:root {
    --av-grey-50: #f8f9fa;
    --av-grey-100: #f1f3f4;
    --av-grey-200: #e8eaed;
    --av-grey-300: #dadce0;
    --av-grey-400: #bdc1c6;
    --av-grey-500: #9aa0a6;
    --av-grey-600: #80868b;
    --av-grey-700: #5f6368;
    --av-grey-800: #3c4043;
    --av-grey-900: #202124;
}

#main-navbar {
    padding: 15px;
    height: 50px;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
    color: var(--av-grey-700);
}

.display-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-navbar > ul {
    gap: 50px;
}

#main-navbar > ul > li {
    font-size: 1em;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

#main-navbar > ul > li::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #4361EE;
    border-radius: 50px;
    position: absolute;
    bottom: -5px;
    transition: 0.1s;
}

#main-navbar > ul > li:hover::before {
    width: 100%;
}

.navbar-buttons-container {
    gap: 30px;
}

.hero-content {
    margin: 100px 0;
}

.hero-content > div {
    flex-direction: column;
    text-align: center;
    max-width: 50%;
    color: var(--av-grey-900);
    gap: 30px;
}

.hero-content h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.1em;
    font-weight: 400;
    font-size: 1.2em;
}

/* FEATURE SECTION */

#feature-section {
    background-color: #D0D7FB;
    color: var(--av-grey-900);
    padding: 70px;
    
}

#feature-section h2 {
    font-size: 2.5em;
    font-weight: 300;
}

#feature-section p {
    font-size: 1.1em;
    text-align: justify;
    margin: 10px 0;
}

.feature-content {
    max-width: 950px;
    min-width: 750px;
}

p > span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

p > span:hover {
    color: purple;
}

/* SERVICES SECTION */

.services-content {
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 530px);
    gap: 75px;
}

.services-content h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 75px 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px 15px;
    width: 500px;
    height: 170px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
}

.card h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.card img {
    width: 100px;
    height: 100px;
}

/* FOOTER */

footer {
    background-color: #F7F7FF;
    /* background-color: yellow; */
    margin-top: 200px;
    padding: 0 60px;
}

#top-area-footer {
    /* background-color: red; */
    padding: 60px 0;
}

#top-area-footer {
    display: flex;
    gap: 170px;
}

.footer-container h3 {
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 1em;
}

.footer-container a {
    color: var(--av-grey-700);
    font-weight: 500;
    font-size: 1em;
    transition: 0.3s;
}

.footer-container a:hover {
    /* text-decoration: underline; */
    color: var(--av-grey-900);
}

#socialmedia-links i {
    font-size: 33px;
    margin-right: 10px;
    color: var(--av-grey-900);
    position: relative;
    left: -4px;
    padding: 5px;
    transition: 0.3s;
}

#socialmedia-links i:hover {
    /* transform: scale(1.3); */
    background-color: var(--av-grey-300);
    border-radius: 100%;
}

#bottom-area-footer {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    border-top: 2px solid #0000ff10;
    padding: 25px 0;
}

#bottom-area-footer .footer-logo {
    color: var(--av-grey-700);
    font-weight: 500;
    font-size: larger;
    margin-right: 100px;
}

#bottom-area-footer > ul > li > a {
    font-weight: 500;
    color: var(--av-grey-700);
    margin-right: 100px;
    transition: 0.5s;
}

#bottom-area-footer > ul > li > a:hover {
    color: var(--av-grey-900);
}

/* ESTILOS DE BOTÕES */

.btn-outline-blue {
    box-shadow: inset 0 0 0 2px #4361EE;
    color: #4361EE;
}

.btn-outline-blue:hover {
    box-shadow: inset 0 0 0 2px #2755d1;
    color: #2755d1;
}

.btn-solid-blue {
    color: white;
    background-color: #4361EE;
}

.btn-solid-blue:hover {
    background-color: #2755d1;
    box-shadow: 0px 1px 3px #00003a3a;
}

.btn {
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.1s;
}